<div class="form-post">
  <%= form_for @post do |f| %>
    <%= render "shared/error_messages", object: f.object %>
    <div class="field">
      <%= f.label :title, class: "hide" %><br />
      <%= f.text_area :title, placeholder: t(".title"), class: "text" %>
    </div>
    <div class="field">
      <%= f.label :list_tags, class: "hide" %><br />
      <%= f.text_area :list_tags, placeholder: t(".tag"), class: "text" %>
    </div>
    <div class="field">
      <%= f.label :content, class: "hide" %><br />
      <%= f.text_area :content, placeholder: t(".content"), class: "text" %>
    </div>
    <%= f.submit t(".post"), class: "btn btn-primary" %>
    <span class="picture">
      <%= f.file_field :picture, accept: Settings.micropost.accept_for_style_image %>
    </span>
  <% end %>
</div>
